<!DOCTYPE html>
<html>
<head>
 <title>Portfolio</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="../home.css">
</head>
<body>
 <header>
  <h1>Sarvarbek Kubayev</h1>
  <nav>
   <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#communication">Communication</a></li>
   </ul>
  </nav>
 </header>

 <main>
  <section id="about">
   <h2>About</h2>
   <p>You can write a short paragraph introducing yourself.</p>
  </section>

  <section id="projects">
   <h2>Projects</h2>
   <ul>
    <li>
     <h3>Project 1</h3>
     <p>About project</p>
    </li>
    <li>
     <h3>Project 2</h3>
     <p>About project</p>
    </li>
    <li>
     <h3>Project 3</h3>
     <p>About roject</p>
    </li>
   </ul>
  </section>

  <section id="communication">
   <h2>Communication</h2>
   <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" required>

    <label for="massage">Massage:</label>
    <textarea id="massage" name="massage" required></textarea>

    <input type="submit" value="Submit">
   </form>
  </section>
 </main>

 <footer>
  <p>Copyright © 2023 Sarvarbek Kubayev</p>
 </footer>
</body>
</html>
